.column.small {
  width: 30%;
  background-color: #666a77;
  color: #ffeeee;
  overflow: hidden;
}

.column.small p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.column.small .header {
  text-align: center;
}
.column.small .header .name {
  letter-spacing: 1px;
  margin-bottom: 0;
}

.column.small .header .title {
  margin-left: auto;
  margin-right: auto;
}

.column.small .header img.swirl {
  width: 100%;
  height: 25px;
  opacity: 0.5;
  display: block;
  filter: invert(1);
  margin-bottom: 0.5em;
}

.column.small .content {
  margin-left: 0;
  margin-right: 0;
}

.column.small h4 {
  line-height: 2em;
  background-color: #555866;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
}

.column.small section {
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.column.small .label {
  font-size: 0.9em;
}

.column.small .value {
  font-size: 0.8em;
  color: #cfc6c6;
}

.column.small .skill {
  height: 3em;
  width: 100%;
}

.column.small .skill .label {
  display: none;
}

.column.small .skill .name {
  font-size: 0.8em;
}

.column.small .skill .rating-label {
  float: right;
  font-size: 0.75em;
  font-style: italic;
  color: #ddd;
}

.column.small .rating-wrapper {
  border: solid 1px #677;
  height: 0.8em;
  margin: 2px;
  background-color: #555866;
}

.column.small .rating {
  height: 100%;
  /* background: #222255; */
  /* background: #aabbcc; */
  background: linear-gradient(
    to right,
    rgba(170, 190, 220, 0.2) 0%,
    rgba(170, 190, 220, 0.6) 60%,
    rgba(170, 190, 220, 0.9) 100%
  );
  /* background: #aabbcc; */
  color: transparent;
  /* height: 0.8em; */
}

.column_small .job .left {
  width: 30%;
  display: inline-block;
}

.column_small .job .right {
  width: 70%;
  display: inline-block;
}
