.column.large {
  width: 70%;
}

.column.large section h3 {
  line-height: 1.5em;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
}

.column.large .left {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}

.column.large .right {
  width: 85%;
  display: inline-block;
  vertical-align: top;
}

.job .date {
  font-size: 0.8em;
  font-weight: bold;
}

.job .header p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.job .title {
  font-weight: bold;
}

.job .name {
  font-size: 0.9em;
}

.job .location {
  float: right;
  margin-right: 10%;
  font-style: italic;
  font-size: 0.9em;
  color: #888;
}

.job .bullet-points {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 1em;
  font-size: 0.85em;
}

.education-item p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.education-item .title {
  font-weight: bold;
}

.education-item .name {
  font-size: 0.9em;
}

.education-item .location {
  float: right;
  margin-right: 10%;
  font-size: 0.9em;
}

.education-item .content {
  font-size: 0.8em;
}
